/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/* @font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
  } */
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: Ubuntu-Regular, sans-serif;
  }
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

  .p-l-10 {padding-left: 10px;}

  /*//////////////////////////////////////////////////////////////////
  [Tree Component]*/
    .sidebar-sticky{
      position: sticky;
      top: 20px;
      z-index: 500;
    }

    .linkTree{
      max-height: 78vh;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
  /*//////////////////////////////////////////////////////////////////
  [Loader]*/
    .loader-img {
      position: absolute;
      top: 50%;
      left: 50%;
  }
  
  .overlay {
      background: #e9e9e9;
      position: absolute;
      display:block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      z-index: 1050;
  }

  /*//////////////////////////////////////////////////////////////////
  [Drag and Drop]*/
  .dragDropArea{
    padding: 1em;
    width: 48vw;
    height: 50vh;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
  }
  .activeDrop{
    border-color: rgb(102, 204, 102);
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(238, 238, 238)
  }

  .dragAndDropPlacHolder{
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    -webkit-user-drag: none;    
  }

  .dragAndDropImg{
    width: 100%;
     height: 100%;
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
    -webkit-user-drag: none;  
  }
  /*//////////////////////////////////////////////////////////////////
  [ custom editor tag ]*/
  .custom-em {
    font-size:150%;
    background-color:#ce7575 
  }
  
  .custom-em::before {
    content: '*'
  }
  
  .custom-em::after {
    content: '*'
  }
     